@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	@apply w-full bg-gray-100 text-gray-700 dark:bg-gray-800 dark:text-gray-100;
}

/* Custom heights */

.dashboard-height {
	height: 100%;
}

.project-card-height {
	min-height: 150px;
}

.content-height {
	height: 100%;
}

@media only screen and (min-width: 1024px) {
	.content-height {
		height: 90%;
	}
}

.x-center {
	left: 50%;
	transform: translateX(-50%) !important;
}

/* svg */

.svg-pattern {
	background-color: #4f46e5;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%23ffffff' fill-opacity='0.05'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");
}

/* Elements */

.btn {
	@apply select-none rounded-md border border-transparent text-sm duration-300 disabled:cursor-default disabled:bg-gray-200 disabled:text-gray-600 disabled:hover:bg-gray-200 disabled:hover:text-gray-600 dark:disabled:bg-gray-900 dark:disabled:text-gray-400;
}

.btn-primary {
	@apply bg-indigo-600 text-white hover:bg-indigo-700;
}

.btn-secondary {
	@apply border-gray-300 bg-white text-gray-500 hover:border-indigo-600 hover:ring-1 hover:ring-indigo-600 dark:border-gray-900 dark:bg-gray-700 dark:text-gray-100 dark:hover:bg-gray-800;
}

.input {
	@apply select-none rounded-md border border-gray-300 bg-white py-1.5 px-3 text-base leading-tight duration-300 placeholder:text-sm focus:border-indigo-600 focus:ring-indigo-600 dark:border-gray-800 dark:bg-gray-800;
}

/* table */

button,
table,
th,
td,
tr {
	white-space: nowrap;
}

td,
th {
	@apply py-3 px-3;
}

/* Scroll bar */

@media only screen and (min-width: 1024px) {
	.large-y-scroll::-webkit-scrollbar {
		width: 15px;
	}

	.large-y-scroll::-webkit-scrollbar-track {
		background: transparent;
	}

	.large-y-scroll::-webkit-scrollbar-thumb {
		@apply bg-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600;
		border-radius: 20px;
		background-clip: padding-box;
		border: 5px solid rgba(0, 0, 0, 0);
	}

	.large-y-scroll::-webkit-scrollbar-thumb:hover {
		background-clip: padding-box;
		border: 5px solid rgba(0, 0, 0, 0);
	}
}

.y-scroll::-webkit-scrollbar {
	width: 15px;
}

.y-scroll::-webkit-scrollbar-track {
	background: transparent;
}

.y-scroll::-webkit-scrollbar-thumb {
	@apply bg-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600;
	border-radius: 20px;
	background-clip: padding-box;
	border: 5px solid rgba(0, 0, 0, 0);
}

.y-scroll::-webkit-scrollbar-thumb:hover {
	background-clip: padding-box;
	border: 5px solid rgba(0, 0, 0, 0);
}

/* Horizontal Scrollbar */

.x-scroll::-webkit-scrollbar-track {
	background: transparent;
}

.x-scroll::-webkit-scrollbar-thumb {
	@apply bg-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-800;
	border-radius: 20px;
	background-clip: padding-box;
	border: 5px solid rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 600px) {
	.x-scroll::-webkit-scrollbar {
		width: 10px;
	}
}
