@tailwind base;
@tailwind components;
@tailwind utilities;

table,
th,
td,
tr {
	white-space: nowrap;
}

td,
th {
	@apply py-3 px-3;
}

a {
	@apply text-slate-500 hover:text-slate-700;
}

*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	@apply bg-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600;
	border-radius: 20px;
	background-clip: padding-box;
	border: 5px solid rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb:hover {
	background-clip: padding-box;
	border: 5px solid rgba(0, 0, 0, 0);
}

/* Horizontal Scrollbar */

.x-scroll::-webkit-scrollbar-track {
	background: transparent;
}

.x-scroll::-webkit-scrollbar-thumb {
	@apply bg-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-800;
	border-radius: 20px;
	background-clip: padding-box;
	border: 5px solid rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 600px) {
	.x-scroll::-webkit-scrollbar {
		width: 10px;
	}
}
